#whole{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 700px;
    border: 3px solid black;
    padding-top: 50px;
    margin-top: 100px;
    background-color: green;

}

h1{
    text-align: center;
    color: white;
    font-size: 300%;
    font-family:sans-serif;
}

.password{
    /* padding-top: ; */
    margin-top: 50px;
    margin-left: 180px;
    

}

#username{
    width: 420px;
    height: 60px;
    border: 1px solid rgb(134, 131, 131);
    border-radius: 40px;
    text-size-adjust: 100px ;
    text-s
    
    /* background-color:  transparent; */
    /* text-align:calc(2px); */
}

#password{
    width: 420px;
    height: 60px;
    border: 1px solid rgb(134, 131, 131);
    border-radius: 40px;
    
}

#Login{
    width: 420px;
    height: 60px;
    border: 1px solid rgb(134, 131, 131);
    border-radius: 40px;
    margin-top: 50px;
    
    font-weight:bolder;
    font-size: larger;
}
input [type=text]{
    font-size: 300px;
    padding-left: 30px;
    padding: 166px;
}
::placeholder{
    font-size: 18px;
    padding-left: 40px;     
    
}